<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8">
    <title>9 金刚狼 漫威英雄排行榜</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/js.js"></script>
    <body>
      <div id="banner">
        <div id="logo"><a href="../index.html">漫威英雄排行榜</a></div>
        <div id="nav">
          <ul>
            <li><a href="./10.html">10</a></li>
            <li><a href="./9.html">9</a></li>
            <li><a href="./8.html">8</a></li>
            <li><a href="./7.html">7</a></li>
            <li><a href="./6.html">6</a></li>
            <li><a href="./5.html">5</a></li>
            <li><a href="./4.html">4</a></li>
            <li><a href="./3.html">3</a></li>
            <li><a href="./2.html">2</a></li>
            <li><a href="./1.html">1</a></li>
            <div class="clearfix"></div>
          </ul>
        </div>
      </div>
      <div id="main">
        <div class="box-wrapper">
          <div class="content">
            <h1>9 金刚狼</h1>
            <div class="description">
              <p>金刚狼人气极高，加上强大的自我愈合能力以及帅气至极的埃德曼金属特质利爪，能以一当百，杀敌上万。在他身上，拥有一种“脑后存反骨，手上行正事”的独特精神。而这种精神正是其魅力的源泉。</p>
            </div>
          </div>
          <div class="pic">
            <p><img src="../images/91.jpg"></p>
            <p><img src="../images/92.jpg"></p>
            <p><img src="../images/93.jpg"></p>
            <p><img src="../images/94.jpg"></p>
          </div>
        </div>
        <div id="footer">&copy;版权所有:XXX</div>
      </div>
    </body>
  </head>
</html>